[mysqld]
character-set-server=utf8mb4
explicit_defaults_for_timestamp=true
slow_query_log=true
slow_query_log-file=/var/log/mysql/mysql-slow.sql
long_query_time =0.5
[mysql]
default-character-set=utf8

[client]
default-character-set=utf8
