:root {
  --font: "游ゴシック体";
  --font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  /*--borderColor: steelblue;*/
  --fontSizeH1: 1.5em;
  --fontSizeH2: 1.5em;
  --fontSizeH3: 1.3em;
  --fontSizeH4: 1.3 rm;
  --fontSizeH5: 1.0em;
  --fontSizeH6: 0.8em;
  /*--borderColor: #fe0;*/

  --black: #333;
  --red: #F00;
  --blue: #00F;
  --white: #FFF;
  --yellow: #Fe0;
  --yellow2: #FF5;
  --glay: #f5f2f0;

  --containerWidth: 1180px;
}

html {
  font-size: 70%;
  color: #FFee00;
}

body.light-mode {
  --bgColorPrimary: #fffffe;
  --bgColorScondary: #F5F7FA;
  --colorPrimary: #a3daff;
  /*--colorPrimary: #336699;*/
  --colorSecondary: #BCD8C1;
  --fontColor: #555;
  --colorWarning: #ffd700;
  --visitedColor: #777;
  --hrefBackground: #fff;
  --hrefVisitedBackground: #ddd;
  --hover: #4169E1;
}

body.dark-mode {
  --bgColorPrimary: #222;
  --bgColorScondary: #333;
  --colorPrimary: #336699;
  --colorSecondary: #5f9ea0;
  --fontColor: #ddd;
  --colorWarning: #f0e68c;
  --visitedColor: #bbb;
  --hrefBackground: #555;
  --hrefVisitedBackground: #444;
  --hover: #4169E1;
}

body {
  font: var(--font);
  color: var(--fontColor);
  background-color: var(--bgColorPrimary);
  font-weight: 500;
  line-height: 1.8;
  font-size: 1.6rem;
}

h1 {
  font-size: var(--fontSizeH1);
}

h2 {
  font-size: var(--fontSizeH2);
}

a {
  color: var(--fontColor);
  text-decoration: none;
}

a:visited {
  color: var(--visitedColor)
}

a:hover {
  color: var(--hover);
}

.container {
  max-width: var(--containerWidth);
  margin: 0 auto;
  padding: 0 4px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px var(--fontColor) solid;
}

table {
  width: 100%;
  margin-bottom: 2em;
}

th {
  font-weight: bold;
  background-color: var(--bgColorPrimary);
}

td {
  text-align: center;
}

.svg-inline--fa {
  margin-right: 0.2em;
}

/*.overlay {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background-color: var(--bgColorPrimary);*/
/*  opacity: 0.96;*/
/*}*/

/*.content {*/
/*  top: 10%;*/
/*  !*left: 50%;*!*/
/*  !*right: auto;*!*/
/*  !*bottom: auto;*!*/
/*  !*marginRight: -50%;*!*/
/*  !*transform: translate(-50%, -50%);*!*/
/*  background-color: var(--bgColorScondary);*/
/*  opacity: 0.98;*/
/*}*/


/*検索モーダル*/
.modalWrapper {
  text-align: center;
  padding: 20px 0;
}

.modalWrapper button,
.modalSearchWindow button {
  padding: 10px 20px;
}

.modalSearchOverlay {
  z-index: 960;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: var(--bgColorPrimary);*/
  display: flex;
  align-items: center;
  justify-content: center
}

.modalSearchWindow {
  z-index: 965;
  top: 10%;
  background-color: var(--bgColorPrimary);
  /*margin: 4vw -50% 0 auto;*/
  padding: 40px;
  /*inset: 0;*/
  /*transform: translate(-50%, -50%);*/
  position: absolute;
  border: 1px solid var(--colorSecondary);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  width: 85%;
  max-width: calc(var(--containerWidth) * 0.8);;
  max-height: 600px;
  opacity: 0.95;
}


/*content start*/
article.blog-post {
  letter-spacing: 0.2em;
}

.gatsby-resp-image-wrapper {
  margin: 1.5em auto;
}

article.blog-post h2 {
  background-color: var(--colorPrimary);
  border-radius: 8px;
  padding: 0 4px;
  margin-top: 1em;
  margin-bottom: 1em;
}

article.blog-post h3 {
  margin-bottom: 1em;
  border-bottom: 1px var(--visitedColor) solid;
}

article.blog-post h4 {
  /*font-weight: 600;*/
  /*font-size: 1.25em;*/
  border-bottom: 1px solid var(--colorPrimary);
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  /*padding: 0.2em 0.3em;*/
  /*border-left: 0.5em solid #3854a1;*/
}

article.blog-post h5 {
  display: inline-block;
  border-radius: 0.3em;
  background-color: var(--hover);
  padding: 0.3em 1em;
}

article.blog-post h5 {
  font-weight: 600;
  font-size: .9em;
}

article.blog-post h6 {
  font-size: .9em;
  display: inline-block;
  border-radius: 0.3em;
  background-color: var(--colorPrimary);
  padding: 0.3em 1em;
}

article.blog-post > section > h3,
article.blog-post > section > h4,
article.blog-post > section > h5,
article.blog-post > section > h6,
article.blog-post > section > p,
article.blog-post > section > table,
article.blog-post > section > hr {
  margin: 2em 0;
}

article.blog-post > section > ol,
article.blog-post > section > ul {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

article.blog-post ul:not(.contains-task-list) li:not(.tags) {
  list-style: none; /* デフォルトのアイコンを消す */
  position: relative;
  padding-left: 1.5em;
  background-color: var(--hrefVisitedBackground); /* 背景色指定 */
  border-radius: 10px; /* 角丸指定 */
  margin-bottom: 0.3em; /* 要素と要素の間指定 */
}

article.blog-post ul:not(.contains-task-list) li:not(.tags):before {
  position: absolute;
  top: 1em;
  left: 8px;
  transform: translateY(-0.5em);
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-left: 0.4em solid var(--colorWarning);
  content: "";
}


article.blog-post ol {
  counter-reset: item;
}

article.blog-post ol > li {
  background-color: var(--hrefVisitedBackground);
  border-radius: 10px; /* 角丸指定 */
}

article.blog-post ol > li ol {
  margin-left: 1em;
}

article.blog-post ol > li:before {
  counter-increment: item;
  content: counter(item) '.';
  padding-right: .5em;
  font-weight: bold;
  color: var(--colorWarning);
}

article.blog-post blockquote {
  margin: 1em 0;
  padding: 1em;
  color: var(--visitedColor);
  /*border-left: .25em solid #30363d;*/
  border-left: .25em solid var(--colorWarning);
}

