:root {
  --font: "游ゴシック体";
  --font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --background: #333;
  --fontColor: #ccc;
  --hrefBackground: #555;
  --hrefVisitedBackground: #444;
  --visitedColor: #aaa;

  --black: #333;
  --red: #F00;
  --blue: #00F;
  --white: #FFF;
  --yellow: #Fe0;
  --yellow2: #FF5;
  --glay: #f5f2f0;
  --visited: #999;
  --hover: #00F;
}

html {
  font-size: 62.5%;
}

body {
  --font: var(--font);
  color: var(--fontColor);
  --bg: var(--background);
  font-weight: 500;
  line-height: 1.8;
  font-size: 1.6rem;
}

a {
  color: var(--fontColor)
}

a:visited {
  color: var(--visitedColor)
}

a:hover {
  color: var(--hover);
}


/*light mode*/
/*body.light {*/
/*  --bg: white;*/
/*  !*--textNormal: #222;*!*/
/*  !*--textTitle: #222;*!*/
/*  !*--textLink: blue;*!*/
/*  --hr: hsla(0, 0%, 0%, 0.2);*/
/*  !*color: var(--red);*!*/
/*  background-color: var(--blue);*/
/*}*/

/*!*dark mode*!*/
/*body.dark {*/
/*  -webkit-font-smoothing: antialiased;*/
/*  --bg: #white;*/
/*  --textNormal: white;*/
/*  --textTitle: white;*/
/*  --textLink: yellow;*/
/*  --hr: hsla(0, 0%, 100%, 0.2);*/
/*  color: var(--white);*/
/*}*/


.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 15px;
}