:root {
  --font: "游ゴシック体";
  --font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  /*--borderColor: steelblue;*/
  --fontSizeH1: 1.5em;
  --fontSizeH2: 1.5em;
  --fontSizeH3: 1.3em;
  --fontSizeH4: 1.3 rm;
  --fontSizeH5: 1.0em;
  --fontSizeH6: 0.8em;
  /*--borderColor: #fe0;*/

  --black: #333;
  --red: #F00;
  --blue: #00F;
  --white: #FFF;
  --yellow: #Fe0;
  --yellow2: #FF5;
  --glay: #f5f2f0;
}

html {
  font-size: 70%;
  color: #FFee00;
}

body.light-mode {
  --bgColorPrimary: #fffffe;
  --bgColorScondary: #F5F7FA;
  --colorPrimary: #a3daff;
  /*--colorPrimary: #336699;*/
  --colorSecondary: #BCD8C1;
  --fontColor: #555;
  --colorWarning: #ffd700;
  --visitedColor: #777;
  --hrefBackground: #fff;
  --hrefVisitedBackground: #ddd;
  --hover: #4169E1;
}

body.dark-mode {
  --bgColorPrimary: #222;
  --bgColorScondary: #333;
  --colorPrimary: #336699;
  --colorSecondary: #5f9ea0;
  --fontColor: #ddd;
  --colorWarning: #f0e68c;
  --visitedColor: #bbb;
  --hrefBackground: #555;
  --hrefVisitedBackground: #444;
  --hover: #4169E1;
}

body {
  font: var(--font);
  color: var(--fontColor);
  background-color: var(--bgColorPrimary);
  font-weight: 500;
  line-height: 1.8;
  font-size: 1.6rem;
}

h1 {
  font-size: var(--fontSizeH1);
}

h2 {
  font-size: var(--fontSizeH2);
}

a {
  color: var(--fontColor);
  text-decoration: none;
}

a:visited {
  color: var(--visitedColor)
}

a:hover {
  color: var(--hover);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 1em 15px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px var(--fontColor) solid;
}

table {
  width: 100%;
  margin-bottom: 2em;
}

th {
  font-weight: bold;
  background-color: var(--bgColorPrimary);
}

td {
  text-align: center;
}